<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="JWAD">
<head>
    <title>JWAD.com</title>
</head>
<body ng-controller="HomeViewController">
    <div class="container" align="center">
        <div>
            <h1>Find a Job without a Degree</h1>
            
        </div>
        <a href="#/seeker">Post Resume</a>
        <a href="#/findseeker">To view seeker's profiles</a>
        <div class="row">

            <div class="col-md-12">
                <div class="col-md-6">
                    <ul style="list-style-type: none">
                        <li>
                            <img src="{{findTalentImage}}" height="320" width="360" style="border-radius: 10px" />
                        </li>
                        <br />
                        <li>
                            <img src="{{magGlass}}" height="320" width="360" style="border-radius: 10px" />
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul style="list-style-type: none">
                        <li>
                            <img src="{{findJobImage}}" height="320" width="360" style="border-radius: 10px"/>
                        </li>
                        <br/>
                        <li>
                            <img src="{{hireMeImage}}" height="320" width="360" style="border-radius: 10px"/>
                        </li>
                    </ul>
                </div>
         
            </div>
        </div>

    </div>

</body>
</html>
